
/*多元素选择，用逗号将不同的元素选择器分开*/
/*p,li,h1 {                            */
/*不同的属性用分号隔开*/
/*  color: green;                     */
/*  width: 500px;                     */
/*  border: 1px solid black;          */
/*}                                   */

html {
  /* px 表示“像素（pixels）”：基础字号为 10像素 */
  font-size: 10px;
  /* Google fonts 输出的 CSS*/
  font-family: 'Open Sans', sans-serif;
  /*将整个页面的背景色设置为指定颜色*/
  background-color: #B0CBF6;
}
h1 {
  font-size: 60px;
  text-align: center;
  /*外边距为 0，覆盖默认样式*/
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  /*text-shadow属性为元素中的文本提供阴影
    第一个值设置水平偏移值——阴影右移的像素数（负值左移）。
    第二个值设置垂直偏移值——阴影下移的像素数（负值上移）。
    第三个值设置阴影的模糊半径——值越大产生的阴影越模糊。
    第四个值设置阴影的基色。
  */
  text-shadow: 3px 3px 1px black;
}

p, li {
  font-size: 16px;
  /* line-height 后面可以跟不同的参数，如果是数字，就是当前字体大小乘上数字*/
  line-height: 2;
  letter-spacing: 1px;
}

body {
  /*强制页面永远保持 600 像素宽 */
  width: 600px;
  /*为margin或padding等属性设置两个值时，第一个值代表元素的上方和下方（在这个例子中
  设置为 0），而第二个值代表左边和右边（在这里， auto 是一个特殊的值，意思是水平方向
  上左右对称）。也可以使用一个，三个或四个值...*/
  margin:0 auto;
  /*指定元素的背景颜色*/
  background-color: #D7A1A1;
  /*给内边距设置四个值来让内容产生一点空间。四个值依次是：上，右，下，左*/
  padding: 0 20px 20px 20px;
  /*直接为body设置 5像素的黑色实线边框*/
  border: 5px solid black;
}

img {
  /*图片是内联元素，不具备块级元素，如body的一些功能。
    为了使图片有外边距，必须使用 display: block 赋予其块级行为。*/
  display: block;
  margin: 0 auto;
  width: 600px;
}
